<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="fragments :: page_head('Shop Kong', 'none')"></head>
<body>
<div class="container-fluid text-center">
    <div th:replace="navigation :: header_menu"></div>
    <div>&nbsp;</div>

    <div th:if="${message != null}">
        <h3>[[${message}]]</h3>
    </div>
    <div>
        <h1>Shop!</h1>
    </div>

    <div th:replace="navigation :: footer_menu"></div>
    <div th:replace="fragments :: footer"></div>
</div>
</body>
</html>