<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
  <head th:replace="fragments :: page_head(${pageTitle}, 'tag')"></head>
  <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
  <script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body>
<div class="container-fluid">
  <div th:replace="navigation :: menu"></div>
  <div>
    <h2>Manage Product | [[${pageTitle}]]</h2>
  </div>

  <div th:if="${message != null}" class="alert alert-danger text-center">
    [[${message}]]
  </div>

  <div>
    <form th:action="@{/products/save}" method="post" style="max-width: 800px; margin: 0 auto"
          enctype="multipart/form-data"
          onsubmit="return checkUnique(this)"
          th:object="${product}">
      <input type="hidden" th:field="*{id}">
      <input th:if="${product.category != null}" type="hidden" id="categoryId" th:value="${product.category.id}">

      <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab">Overview</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab">Description</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#images" type="button" role="tab">Images</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab">Details</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#shipping" type="button" role="tab">Shipping</button>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active p-3" id="overview" role="tabpanel">
            <div th:replace="products/product_overview :: content"></div>
          </div>
          <div class="tab-pane" id="description" role="tabpanel">
            <th:block th:unless="${isReadOnlyForSalesperson}">
              <div th:replace="products/product_description :: content"></div>
            </th:block>
            <th:block th:if="${isReadOnlyForSalesperson}">
                <div th:replace="products/product_description_readonly :: content"></div>
            </th:block>
          </div>
          <div class="tab-pane" id="images" role="tabpanel">
            <th:block th:unless="${isReadOnlyForSalesperson}">
              <div th:replace="products/product_images :: content"></div>
            </th:block>
            <th:block th:if="${isReadOnlyForSalesperson}">
                <div th:replace="products/product_images_readonly :: content"></div>
            </th:block>
          </div>
          <div class="tab-pane p-3" id="details" role="tabpanel">
            <th:block th:unless="${isReadOnlyForSalesperson}">
              <div th:replace="products/product_details :: content"></div>
              <div>
                <input type="button" class="btn btn-secondary" value="Add More Detail"
                       onclick="addNextDetailSection()">
              </div>
            </th:block>
            <th:block th:if="${isReadOnlyForSalesperson}">
              <div th:replace="products/product_details_readonly :: content"></div>
            </th:block>
          </div>
          <div class="tab-pane p-3" id="shipping" role="tabpanel">
            <th:block th:unless="${isReadOnlyForSalesperson}">
              <div th:replace="products/product_shipping :: content"></div>
            </th:block>
            <th:block th:if="${isReadOnlyForSalesperson}">
              <div th:replace="products/product_shipping_readonly :: content"></div>
            </th:block>
          </div>
        </div>
      </div>

      <div>
        <input type="submit" value="Save" class="btn btn-primary m-3">
        <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
      </div>
    </form>
  </div>

  <div th:replace="modal_fragments :: modal_dialog"></div>
  <div th:replace="fragments :: footer"></div>
</div>

<script type="text/javascript">
  MAX_FILE_SIZE = 502400; //500KB
  moduleURL = "[[@{/products}]]";
  brandModuleURL = "[[@{/brands}]]";
  defaultImageThumbnailSrc = "[[@{/images/image-thumbnail.png}]]";
  checkUniqueUrl = "[[@{/products/check_unique}]]";
</script>
<script th:src="@{/js/product_form_overview.js}"></script>
<script th:src="@{/js/product_form_images.js}"></script>
<script th:src="@{/js/product_form_details.js}"></script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>